<div class="">
  <h1>Convert Currency</h1>
  <p class="lead">

      <form>
          <div class="form-group">
                <label>Source Currency:</label>
                  <select class="form-control" ng-model="source" ng-options="currency.currencyName for currency in currencyList"></select>
                <br/>
          </div>

          <div class="form-group">
              <label>Target Currency:</label>
                <select class="form-control" ng-model="target" ng-options="currency.currencyName for currency in currencyList">
                </select>
              <br/>

          </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Amount</label>
          <input type="text" class="form-control" id="amount" placeholder="amount" ng-model="amount">
        </div>

    </form>


  <button type="submit" ng-click="convert(source.currencyName, target.currencyName, amount)" class="btn btn-default">Convert</button>
  </p>

  <div class="jumbotron"  ng-show="convertedCurrency.status == 'OK'">
    <h2>{{convertedCurrency.result}}</h2>
  </div>

</div>
