<div class="jumbotron">
  <h1>Currency Exchange</h1>
  <p class="lead">

    Virtual Currency Exchange Rate Publishing System.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/list">Show Rates</a></p>
</div>

<div class="row marketing">
  <h4>Currency Rates</h4>
  <p>
    You can list of exchange rates for different currencies.
  </p>

  <h4>Currency Search</h4>
  <p>
    You can search for the exchange rate for a specific currency.
  </p>

  <h4>Currency Converter</h4>
  <p>Allows you to convert a specific amount of money from a currency to another..</p>
</div>
